/* Latest compiled and minified CSS included as External Resource*/

/* Optional theme */
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');

body {
    margin: 10px;
    background: #ffff;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}
.pos {
    position: relative;
    top: 240px;
}

.content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: -100px;
}

h1 {
    text-transform: uppercase;
    font-size: arial;
    font-weight: bold;
}

img {
    width: 100%;
}

.input-group {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

#result {
    font-size: 20px;
    padding: 10px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
